<template>
  <div>
    <b-button
      v-b-toggle.sidebar-no-header
      :disabled="$store.state.basket.length === 0"
    >
      <b-icon icon="bag"></b-icon>
    </b-button>
    <b-sidebar
      id="sidebar-no-header"
      aria-labelledby="sidebar-no-header-title"
      :title="title"
      right
      header-class="header-sidebar"
      sidebar-class="border-left"
    >
      <template #default="{ hide }">
        <div>
          <div>
            <div v-for="product in $store.state.basket" :key="product.id">
              <BasketItem :product="product" class="px-3 my-3" />
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </template>
      <template #footer="{ hide }">
        <div class="px-4 d-flex justify-content-between">
          <span>{{ $t("basket.total") }}</span>
          <span>{{ price }}</span>
        </div>
        <div class="d-flex align-items-center px-4 py-3 justify-content-around">
          <b-button block variant="outline-primary" size="lg" @click="buy">{{
            $t("basket.buy")
          }}</b-button>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>
<script>
import { numberToDevise } from "~/utils/devise.js";
export default {
  computed: {
    title() {
      return this.$t("basket.title");
    },
    price() {
      return numberToDevise(this.$store.state.basketPrice);
    },
  },
  methods: {
    buy() {
      this.$router.push(`/${this.$i18n.locale}/order`);
    },
  },
};
</script>
<style lang="scss" scoped>
.btn-secondary {
  background-color: unset;
  border: unset;
  color: var(--primary);
  &:hover {
    background-color: var(--grey2-color);
    border: unset;
    color: var(--primary);
  }
  &:focus {
    background-color: unset !important;
    border: unset;
    color: var(--primary);
    box-shadow: none;
  }
  &:active {
    background-color: unset !important;
    border: unset !important;
    color: var(--primary) !important;
  }
}
.text-align-center {
  text-align: center;
}
.border-left {
  border: solid 2px var(--border-color) !important;
}
.divider {
  border-bottom: solid 1px var(--border-color);
}
</style>
