<template>
  <div class="d-flex align-items-center basket-item-container">
    <button
      type="button"
      aria-label="Close"
      class="close text-dark basket-item-close"
      @click="removeItem"
    >
      <b-icon icon="x" size="lg"></b-icon>
    </button>
    <b-img
      :src="`https://picsum.photos/100/100/?image=${product.id}`"
      class="mr-2"
    ></b-img>
    <div class="d-flex flex-column w-100">
      <div>
        {{ product.attributes.product_name }}
      </div>
      <div class="mb-2">{{ product.attributes.product_flavor }}</div>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <b-button pill variant="outline-primary" size="sm" @click="decrement">
            <b-icon icon="dash"></b-icon>
          </b-button>
          {{ "x" + product.quantity }}
          <b-button pill variant="outline-primary" size="sm" @click="increment">
            <b-icon icon="plus"></b-icon>
          </b-button>
        </div>
        <div>{{ price }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { numberToDevise } from "~/utils/devise.js";
export default {
  props: {
    product: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    price() {
      return numberToDevise(
        this.product.attributes.product_price * this.product.quantity
      );
    },
  },
  methods: {
    increment() {
      this.$store.dispatch("incrementToBasket", this.product);
    },
    decrement() {
      this.$store.dispatch("decrementFromBasket", this.product);
    },
    removeItem() {
      this.$store.dispatch("removeFromBasket", this.product);
    },
  },
};
</script>

<style lang="scss" scoped>
.basket-item-container {
  position: relative;
  .basket-item-close {
    position: absolute;
    top: 0;
    right: 16px;
  }
}
</style>
