<template>
  <b-button
    block
    variant="outline-secondary"
    size="lg"
    class="w-200"
    @click="goTo"
    >{{ $t(text) }}</b-button
  >
</template>

<script>
export default {
  props: {
    path: {
      type: String,
      default: "",
    },
    text: {
      type: String,
      default: "readNext",
    },
    redirect: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    goTo() {
      if (this.redirect) {
        this.$router.push(`/${this.$i18n.locale}/${this.path}`);
      }
      this.$emit("click");
    },
  },
};
</script>

<style lang="scss" scoped>
.w-200 {
  width: 200px;
}
</style>
