<template>
  <b-card
    :title="
      product.attributes.product_name + ' ' + product.attributes.product_flavor
    "
    :img-src="`https://picsum.photos/600/300/?image=${product.id}`"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem"
    @click="openCard"
  >
    <b-card-text class="d-flex justify-content-around align-items-center">
      {{ price }}
      <b-button href="#" variant="primary" @click.stop="add(product)">
        <b-icon icon="bag-plus"></b-icon>
      </b-button>
    </b-card-text>
  </b-card>
</template>

<script>
import { numberToDevise } from "~/utils/devise.js";
export default {
  props: {
    product: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      number: 0,
      test: this.$i18n.locale,
    };
  },
  methods: {
    add(product) {
      const add = {
        ...product,
        quantity: 1,
      };
      this.$store.dispatch("addToBasket", add);
    },
    openCard() {
      this.$router.push(`/${this.$i18n.locale}/shop/${this.product.id}`);
    },
  },
  computed: {
    price() {
      return numberToDevise(this.product.attributes.product_price);
    },
  },
};
</script>
<style lang="scss" scoped>
.card-title {
  text-align: center;
  font-family: "LibreBaskerville-regular";
  font-size: 28px;
}
.card {
  border-radius: 0;
  background-color: var(--white-color);
}
.card-img,
.card-img-top {
  border-radius: 0;
}
.card-text {
  font-family: "LibreBaskerville-regular";
}
.btn-primary {
  background-color: unset;
  border: unset;
  color: var(--primary);
  &:hover {
    background-color: var(--grey2-color);
    border: unset;
    color: var(--primary);
  }
  &:focus {
    background-color: unset !important;
    border: unset;
    color: var(--primary);
    box-shadow: none;
  }
  &:active {
    background-color: unset !important;
    border: unset !important;
    color: var(--primary) !important;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
