<template>
  <footer class="w-100 py-4 d-flex px-5 justify-content-between lg-display">
    <div class="lg-display-item">
      <div class="d-flex align-items-center mr-2">
        <input
          type="radio"
          id="french"
          value="fr"
          v-model="$i18n.locale"
          class="mr-1"
        />
        <nuxt-link :to="switchLocalePath('fr')">{{
          $t("language.french")
        }}</nuxt-link>
      </div>
      <div class="d-flex align-items-center mr-2">
        <input
          type="radio"
          id="english"
          value="en"
          v-model="$i18n.locale"
          class="mr-1"
        />
        <nuxt-link :to="switchLocalePath('en')">{{
          $t("language.english")
        }}</nuxt-link>
      </div>
    </div>
    <div
      class="d-flex w-50 justify-content-between align-items-center lg-display-item"
    >
      <span>{{ $t("footerTitle.newspapers") }}</span>
      <span>{{ $t("footerTitle.contact") }}</span>
      <span>{{ $t("footerTitle.becomeReseller") }}</span>
      <span>{{ $t("footerTitle.gsc") }}</span>
      <span>Livrao</span>
    </div>
    <div class="d-flex align-items-center lg-display-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-apple"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z"
        />
        <path
          d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z"
        />
      </svg>
      <span class="mr-2">Pay</span>
      <b-icon icon="credit-card"></b-icon>
    </div>
    <SocialNetwork class="lg-display-item" />
  </footer>
</template>

<style lang="scss" scoped>
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
footer {
  justify-content: space-between;
}
span {
  height: fit-content;
}
input {
  pointer-events: none;
}

footer {
  background-color: var(--grey1-color);
  color: #252526;
  border-top: solid 1px var(--border-color);
  display: flex;
  justify-content: space-around;
  div {
    display: flex;
    justify-content: center;
  }
}
.w-50 {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .lg-display {
    flex-direction: column;
    align-items: center;
  }
  .lg-display-item {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
}
</style>
