<template>
  <div>
    <b-form v-if="show">
      <div class="formLoginBackColor">
        <div class="col-md-10">
          <b-form-group
            id="input-group-1"
            :label="$t('loginPage.labelEmail')"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              :placeholder="$t('loginPage.placeholderEmail')"
              required
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
      <p class="my-5 text-center">
        <nuxt-link :to="localePath('/forgotPassword')" class="m-3">{{
          $t("forgotPasswordPage.askPasswordText")
        }}</nuxt-link>
      </p>
      <div class="d-flex justify-content-center">
        <nuxt-link :to="localePath('/login')" class="m-3"
          ><b-button class="btnLogin" variant="outline-secondary">{{
            $t("forgotPasswordPage.buttonLogin")
          }}</b-button></nuxt-link
        >
      </div>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
      },
      show: true,
    };
  },
  computed: {},
};
</script>
<style lang="scss" scoped>
.formLoginBackColor {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  align-items: center;
  .form-control {
    border: 1px solid var(--secondary);
  }
}
</style>
