<template>
  <div class="container my-5">
    <div class="formContact">
      <div class="col-md-12">
        <div class="row mt-3">
          <div class="col-md-6">
            <p>{{ $t("contactForm.labelLastname") }}</p>
            <div class="inputDiv"></div>
          </div>
          <div class="col-md-6">
            <p>{{ $t("contactForm.labelFirstname") }}</p>
            <div class="inputDiv"></div>
          </div>
        </div>
        <div class="mt-3">
          <p>{{ $t("contactForm.labelEmail") }}</p>
          <div class="inputDiv"></div>
        </div>
        <div class="my-3">
          <p>{{ $t("contactForm.labelMessage") }}</p>
          <div class="inputDivMessage"></div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center my-5">
      <div class="buttonFormContact">
        <p>{{ $t("contactPage.buttonText") }}</p>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.inputDiv {
  border: 1px solid #428000;
  height: 45px;
  width: 100%;
}

.inputDivMessage {
  border: 1px solid #428000;
  height: 145px;
  width: 100%;
}

.formContact {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 70px;
}

.buttonFormContact {
  color: #428000;
  border: 1px solid #428000;
  border-radius: 10px;
  max-width: 200px;
  text-align: center;
  p {
    margin: 9px 13px;
  }
}
</style>
