<template>
  <div class="title f-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <h1 class="m-5 font-bold text-lg text-center">
        {{ title }}
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  background-image: url("assets/img/caramel2.jpg");
  background-position: 50% 50%;
  height: 300px;
  div {
    background-color: #252526d0;
    h1 {
      font-size: 56px;
      color: var(--secondary);
      font-family: "LibreBaskerville-bold";
    }
  }
}
</style>
