<template>
  <div>
    <b-form v-if="show">
      <div class="formLoginBackColor">
        <div class="col-md-10">
          <b-form-group
            id="input-group-1"
            :label="$t('loginPage.labelEmail')"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              :placeholder="$t('loginPage.placeholderEmail')"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-2" :label="$t('loginPage.labelPassword')" label-for="input-2">
            <b-form-input
              type="password"
              id="input-2"
              aria-describedby="password-help-block"
              v-model="form.password"
              :placeholder="$t('loginPage.placeholderPassword')"
              variant="outline-secondary"
            ></b-form-input>
          </b-form-group>
          <nuxt-link :to="localePath('/forgotPassword')"><p class="text-right">
            {{ $t("loginPage.forgotPasswordText")}}</p></nuxt-link>
        </div>
      </div>
      <p class="my-5 text-center">
        <nuxt-link :to="localePath('/register')" class="m-3">{{ $t("loginPage.registerText") }}</nuxt-link>
      </p>
      <div class="d-flex justify-content-center">
        <b-button @click="onSubmit" class="btnLogin" variant="outline-secondary">{{$t("loginPage.buttonLogin") }} </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      show: true,
    };
  },
  computed: {},
  methods: {
    async onSubmit(event) {
      try {
        await this.$auth.loginWith("local", {
          data: {
            identifier: this.form.email,
            password: this.form.password,
          },
        });
        this.$router.push(`/${this.$i18n.locale}/`);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.formLoginBackColor {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  align-items: center;
  .form-control{
    border: 1px solid var(--secondary);
  }

}
</style>
