<template>
  <b-navbar :sticky="true" class="px-5" toggleable="lg">
    <b-navbar-brand
      ><nuxt-link :to="localePath('/')" class="m-3"
        >KrowKaramel</nuxt-link
      ></b-navbar-brand
    >
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav class="lg-display-flex">
      <b-navbar-nav class="lg-margin-left">
        <nuxt-link :to="localePath('/about')" class="m-3">
          {{ $t("navTitle.about") }}
        </nuxt-link>
        <nuxt-link :to="localePath('/ingredients')" class="m-3">
          {{ $t("navTitle.ingredient") }}
        </nuxt-link>
        <nuxt-link :to="localePath('/blog')" class="m-3">Blog</nuxt-link>
        <nuxt-link :to="localePath('/contact')" class="m-3">
          {{ $t("navTitle.contact") }}
        </nuxt-link>
        <nuxt-link :to="localePath('/shop')" class="m-3">
          {{ $t("navTitle.shop") }}
        </nuxt-link>
      </b-navbar-nav>
      <b-navbar-nav class="lg-margin-left">
        <span class="m-3" v-if="isAuthenticated">{{
          loggedInUser.username
        }}</span>
        <b-nav-item>
          <Profile />
        </b-nav-item>
        <b-nav-item>
          <Basket />
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      isAuthenticated: "isAuthenticated",
      loggedInUser: "loggedInUser",
    }),
  },
};
</script>
<style lang="scss" scoped>
.navbar {
  background-color: var(--grey1-color);
  border-bottom: solid 2px var(--border-color);
}

.navbar-light .navbar-nav .nav-link {
  color: #252526;
}
@media screen and (min-width: 992px) {
  .lg-margin-left {
    margin-left: auto;
  }
  .lg-display-flex {
    display: flex;
  }
}
</style>
