<template>
  <div>
    <div v-if=" post.id % 2 === 0" class="col-md-12 my-5">
      <div class="row mt-5">
        <div class="col-md-7">
          <h2 class="text-center mb-5 postTitle">{{ post.attributes.post_title }}</h2>
          <h4 class="mb-3">{{ post.attributes.post_subtitle}}</h4>
          <p>{{ text }}</p>
        </div>
        <div class="col-md-5">
          <img class="imgIngredient"
               src="../assets/img/caramelIngredient.jpg"
               alt=""
          />
        </div>
      </div>
    </div>
    <div v-else>
      <div class="row mt-5">
        <div class="col-md-5">
          <img class="imgIngredient"
               src="../assets/img/caramelIngredient.jpg"
               alt=""
          />
        </div>
        <div class="col-md-7">
          <h2 class="text-center mb-5 postTitle">{{ post.attributes.post_title }}</h2>
          <h4 class="mb-3">{{ post.attributes.post_subtitle}}</h4>
          <p>{{ text }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {}
    },
  },
  data() {
    return {
      number: 0,
      test: this.$i18n.locale,
    };
  },
  computed: {
    text() {
      return JSON.parse(this.post.attributes.post_content).blocks[0].data.text;
    },
  },
};
</script>

<style lang="scss" scoped>
  .imgIngredient{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .postTitle{
    color: #87cc3d;
  }
  h2, h4{
    font-family: LibreBaskerville-regular, serif;
  }

</style>
