<template>
  <b-nav-item-dropdown class="dropDownNav">
    <template slot="button-content">
      <b-button v-b-toggle.profile>
        <b-icon icon="person-circle"></b-icon>
      </b-button>
    </template>
    <div v-if="isAuthenticated">
      <b-dropdown-item href="#"
        ><nuxt-link :to="localePath('/user')"
          >{{$t("navDropDown.myAccount") }}</nuxt-link
        ></b-dropdown-item
      >
      <b-dropdown-item href="#" @click="logout" variant="danger">
        {{$t("navDropDown.logout") }}</b-dropdown-item>
    </div>
    <div v-else>
      <b-dropdown-item href="#"
        ><nuxt-link :to="localePath('/login')" class="m-3"
          >{{$t("navDropDown.login") }}</nuxt-link
        ></b-dropdown-item
      >
      <b-dropdown-item href="#"
        ><nuxt-link :to="localePath('/register')" class="m-3"
          >{{$t("navDropDown.register") }}</nuxt-link
        ></b-dropdown-item
      >
    </div>
  </b-nav-item-dropdown>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  methods: {
    async logout() {
      await this.$auth.logout();
      this.$router.push(`/${this.$i18n.locale}/`);
    },
  },
  computed: {
    ...mapGetters({
      isAuthenticated: "isAuthenticated",
      loggedInUser: "loggedInUser",
    }),
  },
};
</script>
<style lang="scss" scoped>
.dropDownNav {
  margin-top: -6px;
}
.btn-secondary {
  background-color: unset;
  border: unset;
  color: var(--primary);
  &:hover {
    background-color: var(--grey2-color);
    border: unset;
    color: var(--primary);
  }
  &:focus {
    background-color: unset !important;
    border: unset;
    color: var(--primary);
    box-shadow: none;
  }
  &:active {
    background-color: unset !important;
    border: unset !important;
    color: var(--primary) !important;
  }
}
.border-left {
  border: solid 2px var(--border-color) !important;
}
.divider {
  border-bottom: solid 1px var(--border-color);
}
</style>
