<template>
  <div>
    <b-form v-if="show">
      <div class="formLoginBackColor">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <b-form-group
                id="input-group-1"
                :label="$t('registerPage.labelFirstname')"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.firstname"
                  type="text"
                  :placeholder="$t('registerPage.placeholderFirstname')"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-1"
                :label="$t('registerPage.labelLastname')"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.lastname"
                  type="text"
                  :placeholder="$t('registerPage.placeholderLastname')"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
          </div>
          <b-form-group
            id="input-group-1"
            :label="$t('registerPage.labelEmail')"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              :placeholder="$t('registerPage.placeholderEmail')"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-2"
            :label="$t('registerPage.labelPassword')"
            label-for="input-2"
          >
            <b-form-input
              type="password"
              id="input-2"
              aria-describedby="password-help-block"
              v-model="form.password"
              :placeholder="$t('registerPage.placeholderPassword')"
              variant="outline-secondary"
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
      <div class="d-flex justify-content-center my-5">
        <b-button @click="onSubmit" class="btnLogin" variant="outline-secondary">{{$t("registerPage.buttonRegister") }} </b-button>
      </div>
    </b-form>
  </div>
</template>
<script>
import ButtonLink from "~/components/buttonLink";
export default {
  components: {ButtonLink},
  data() {
    return {
      form: {
        lastname: "",
        firstname: "",
        email: "",
        password: "",
      },
      show: true,
    };
  },
  methods: {
    async onSubmit(event) {
      try {
        await this.$axios.$post("/auth/local/register?confirmed=true", {
          username: this.form.lastname + " " + this.form.firstname,
          email: this.form.email,
          password: this.form.password,
        });
        this.$router.push(`/${this.$i18n.locale}/login`);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.formLoginBackColor {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  align-items: center;
  .form-control {
    border: 1px solid var(--secondary);
  }
}
</style>
