<template>
  <div class="d-flex flex-column">
    <span class="mb-1 text-primary">{{ $t("footerTitle.follow") }}</span>
    <div class="d-flex justify-content-around">
      <b-icon icon="twitter" variant="primary"></b-icon>
      <b-icon icon="instagram" variant="primary"></b-icon>
      <b-icon icon="facebook" variant="primary"></b-icon>
    </div>
  </div>
</template>
