<template>
  <div>
    <div class="presentationSubscription my-5 container py-5">
      <div class="row">
        <div class="col-2">
          <p>Abonnement {{subscription.id}}</p>
        </div>
        <div class="col-4">
          <p> {{numberToDevise(subscription.attributes.subscription_price)}}</p>
        </div>
        <div class="col-4">
          <p>Cararmel citron x5</p>
          <p>Cararmel menthe x5</p>
          <p>Cararmel miel x5</p>
          <p>Cararmel chocolat x5</p>
          <p>Cararmel chocolat noir x5</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {numberToDevise} from "~/utils/devise";

export default {
  props: {
    subscription: {
      type: Object,
      default: () => {
      },
    },
  },
  methods : {
    numberToDevise(number) {
      return numberToDevise(number);
    },
  },
}
</script>
<style lang="scss" scoped>
  .presentationSubscription{
    background-color: white;
    border: 1px solid var(--grey2-color);
    border-radius: 20px;
  }
</style>
