<template>
  <b-container fluid class="h-100 d-flex flex-column">
    <Nav />
    <Nuxt class="nuxt-bg" />
    <Footer />
  </b-container>
</template>
<style lang="css" scoped>
.container-fluid {
  padding: 0;
}
.nuxt-bg {
  background-color: var(--grey1-color);
}
</style>
