<template>
  <div>
    <HeaderPage :title="title" />
    <div class="container my-5 text-center">
      <h2 class="subtitleh2 my-5">{{ $t("aboutUsPage.subtitle1") }}</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisi
        eros. Nam egestas mauris eu sapien mollis, eget molestie velit cursus.
        Aliquam nec sodales ex, eget lobortis nulla. Quisque eget aliquet leo.
        Nullam tincidunt et felis eu feugiat. Aenean mollis felis eget luctus
        tincidunt. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Proin eu vehicula tortor.
      </p>
      <p class="mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisi
        eros. Nam egestas mauris eu sapien mollis, eget molestie velit cursus.
        Aliquam nec sodales ex, eget lobortis nulla. Quisque eget aliquet leo.
        Nullam tincidunt et felis eu feugiat. Aenean mollis felis eget luctus
        tincidunt. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Proin eu vehicula tortor. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Proin eu vehicula tortor.
      </p>
    </div>
    <div class="contactRedirection my-5">
      <h3 class="text-center mt-5">{{ $t("aboutUsPage.subtitle2") }}</h3>
      <div class="d-flex justify-content-center my-5">
        <ButtonLink path="ingredients" text="aboutUsPage.button" />
      </div>
    </div>

    <div class="container mt-5 text-center">
      <h2 class="subtitleh2 my-5">{{ $t("aboutUsPage.subtitle3") }}</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisi
        eros. Nam egestas mauris eu sapien mollis, eget molestie velit cursus.
        Aliquam nec sodales ex, eget lobortis nulla. Quisque eget aliquet leo.
        Nullam tincidunt et felis eu feugiat. Aenean mollis felis eget luctus
        tincidunt. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Proin eu vehicula tortor.
      </p>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <img
            class="w-100 d-flex justify-content-center align-items-center"
            src="../assets/img/pologne.jpg"
            alt=""
          />
        </div>
        <div class="col-md-6 mb-5">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisi
            eros. Nam egestas mauris eu sapien mollis, eget molestie velit
            cursus. Aliquam nec sodales ex, eget lobortis nulla. Quisque eget
            aliquet leo. Nullam tincidunt et felis eu feugiat. Aenean mollis
            felis eget luctus tincidunt. Orci varius natoque penatibus et magnis
            dis parturient montes, nascetur ridiculus mus. Proin eu vehicula
            tortor. Sed consectetur erat non pulvinar placerat. Quisque id est
            libero.
          </p>
          <p>
            Morbi laoreet hendrerit porta. Praesent et arcu non libero venenatis
            posuere nec id metus. Nullam convallis sapien vel ex elementum
            gravida. Vivamus congue eget erat eleifend convallis.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    title() {
      return this.$t("aboutUsPage.title");
    },
  },
};
</script>
<style lang="scss" scoped>
.subtitleh2 {
  color: var(--primary);
}
.contactRedirection {
  border-top: solid 1px #e1dede;
  border-bottom: solid 1px #e1dede;
}
h2,h3{
  font-family: LibreBaskerville-regular, serif;
}
</style>
