<template>
  <div class="d-flex flex-column flex-grow-1">
    <HeaderPage :title="title" />
    <div class="d-flex flex-wrap justify-content-center px-5">
      <Post
        v-for="(post, index) in posts"
        :key="post.id"
        :post="post"
        class="container"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "blogPage",
  computed: {
    ...mapGetters({ posts: "getPosts" }),
    title() {
      return this.$t("newsPage.title");
    },
  },
  mounted() {
    this.$store.dispatch("fectPosts");
  },
};
</script>

<style lang="scss" scoped>
.entete {
  background-image: url("assets/img/caramel2.jpg");
  background-position: 50% 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
</style>
