<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="sm:w-11/12 md:w-4/5 mx-auto">
      <h1 class="m-5 font-bold text-lg text-center">{{ $t("contactPage.title") }}</h1>
      <p>{{ $t("contactPage.text") }}</p>
    </div>
    <Formulaire></Formulaire>
  </div>
</template>
<script>
import Formulaire from "~/components/Formulaire";
export default {
  components: {Formulaire}
}
</script>
