<template>
  <div class="d-flex flex-column flex-grow-1">
    <HeaderPage title="Krow Karamel" />
    <div class="m-3 mt-5">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-5 d-flex">
            <img
              class="imgIndex"
              src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <h4 class="text-center my-5">{{ $t("aboutUsPage.title") }}</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ButtonLink path="about" />
          </div>
        </div>
      </div>
    </div>
    <div class="socialNetworkLink mt-5">
      <span class="mb-1">Suivez-nous sur les réseaux</span>
      <div class="d-flex justify-content-around">
        <b-icon
          icon="twitter"
          variant="primary"
          style="width: 32px; height: 32px"
        ></b-icon>
        <b-icon
          icon="instagram"
          variant="primary"
          style="width: 32px; height: 32px"
        ></b-icon>
        <b-icon
          icon="facebook"
          variant="primary"
          style="width: 32px; height: 32px"
        ></b-icon>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center my-5">
      <div class="d-flex flex-wrap m-3 justify-content-center mx-2">
        <Cards
          v-for="product in products.slice(0, 3)"
          :key="product.id"
          :product="product"
          class="m-2"
        />
      </div>
      <ButtonLink text="seeMore" path="shop" />
    </div>
    <div class="m-3 mt-5">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-5 d-flex">
            <img
              class="imgIndex"
              src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <h4 class="text-center my-5">{{ $t("ingredientPage.title") }}</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ButtonLink path="ingredients" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cards from "../components/Cards.vue";
import { mapGetters } from "vuex";

export default {
  components: { Cards },
  name: "App",
  computed: {
    ...mapGetters({ products: "getProducts" }),
  },
  mounted() {
    this.$store.dispatch("fectProducts");
  },
};
</script>

<style lang="scss" scoped>
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.socialNetworkLink {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--primary);
  border: solid var(--primary);
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  padding: 10px;
  width: auto;
  padding-left: 35%;
  padding-right: 35%;
}

h4 {
  font-family: LibreBaskerville-regular, serif;
  color: var(--primary);
}
.imgIndex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
</style>
