<template>
  <div class="d-flex flex-column">
    <!-- Titre -->
    <div class="sm:w-11/12 md:w-4/5 mx-auto">
      <h1 class="m-5 font-bold text-lg titleFont">
        {{ $t("orderPage.title") }}
      </h1>
    </div>
    <!-- bloc facture & livraison -->
    <div class="mx-5 mb-5 pt-3 whiteBckgrd">
      <!-- adresse d'expedition -->
      <div class="orderBorder mt-5 pb-3">
        <div class="container">
          <div class="row justify-content-between px-3 mb-4">
            <h2 class="secondaryColor titleFont">
              {{ $t("orderPage.subtitle1") }}
            </h2>
            <button
              type="button"
              @click="changeInfo1"
              class="primaryColor titleFont btn btn-light"
            >
              {{ $t("orderPage.change") }}
            </button>
          </div>
          <div id="noEdit1" class="nochange">
            <input
              class="form-control mb-1"
              type="text"
              placeholder="Campus Academy"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="1 Pierre de Maupertuis"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="Bruz 35170"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="Ille-et-Vilaine"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="0972624747"
              readonly
            />
          </div>
          <div id="edit1" class="change">
            <input
              id="nom"
              class="form-control mb-1"
              type="text"
              placeholder="Campus Academy"
            />
            <input
              id="rue"
              class="form-control mb-1"
              type="text"
              placeholder="1 Pierre de Maupertuis"
            />
            <input
              id="ville"
              class="form-control mb-1"
              type="text"
              placeholder="Bruz 35170"
            />
            <input
              id="departement"
              class="form-control mb-1"
              type="text"
              placeholder="Ille-et-Vilaine"
            />
            <input
              id="phone"
              class="form-control mb-1"
              type="text"
              placeholder="0972624747"
            />
            <button
              type="button"
              @click="validerInfo1"
              class="primaryColor titleFont btn btn-light"
            >
              {{ $t("orderPage.change") }}
            </button>
          </div>
        </div>
      </div>
      <!-- adresse de facturation -->
      <div class="orderBorder mt-5 pb-3">
        <div class="container">
          <div class="row justify-content-between px-3 mb-4">
            <h2 class="secondaryColor titleFont">
              {{ $t("orderPage.subtitle2") }}
            </h2>
            <button
              type="button"
              @click="changeInfo2"
              class="primaryColor titleFont btn btn-light"
            >
              {{ $t("orderPage.change") }}
            </button>
          </div>
          <div id="noEdit2" class="nochange">
            <input
              class="form-control mb-1"
              type="text"
              placeholder="Campus Academy"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="1 Pierre de Maupertuis"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="Bruz 35170"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="Ille-et-Vilaine"
              readonly
            />
            <input
              class="form-control mb-1"
              type="text"
              placeholder="0972624747"
              readonly
            />
          </div>
          <div id="edit2" class="change">
            <input
              id="nom"
              class="form-control mb-1"
              type="text"
              placeholder="Campus Academy"
            />
            <input
              id="rue"
              class="form-control mb-1"
              type="text"
              placeholder="1 Pierre de Maupertuis"
            />
            <input
              id="ville"
              class="form-control mb-1"
              type="text"
              placeholder="Bruz 35170"
            />
            <input
              id="departement"
              class="form-control mb-1"
              type="text"
              placeholder="Ille-et-Vilaine"
            />
            <input
              id="phone"
              class="form-control mb-1"
              type="text"
              placeholder="0972624747"
            />
            <button
              type="button"
              @click="validerInfo2"
              class="primaryColor titleFont btn btn-light"
            >
              {{ $t("orderPage.change") }}
            </button>
          </div>
        </div>
      </div>
      <!-- Livraisons -->
      <div class="d-flex flex-grow-1 row justify-content-around pt-3 mx-3">
        <div
          class="container greyBckgrd border col-md-5 mb-3 pt-2"
          @click="delivery = 'standard'"
        >
          <div class="row">
            <input
              class="align-self-start m-2"
              v-model="delivery"
              name="standard"
              id="standard"
              type="radio"
              value="standard"
            />
            <label class="primaryColor titleFont pt-1" for="standard"
              >Standard</label
            >
          </div>
          <p>{{ $t("orderPage.estimatedDelivery") }} : 00/00</p>
          <p class="mr-auto">{{ $t("orderPage.priceDelivery") }} : 5,00€</p>
        </div>
        <div
          class="container greyBckgrd border col-md-5 mb-3 pt-2"
          @click="delivery = 'priority'"
        >
          <div class="row">
            <input
              class="align-self-start m-2"
              v-model="delivery"
              name="priority"
              id="priority"
              type="radio"
              value="priority"
            />
            <label class="primaryColor titleFont pt-1" for="priority">
              {{ $t("orderPage.priorityDelivery") }}
            </label>
          </div>
          <p>{{ $t("orderPage.estimatedDelivery") }} : 00/00</p>
          <p class="ml-auto">{{ $t("orderPage.priceDelivery") }} : 15,00€</p>
        </div>
      </div>
    </div>
    <!-- résumé -->
    <div class="mx-5 mb-5 pt-3 whiteBckgrd">
      <!-- panier -->
      <div class="orderBorder mt-5 pb-3 col">
        <!-- titre -->
        <div class="orderBorder row justify-content-between px-5 mb-4">
          <h2 class="secondaryColor titleFont">
            {{ $t("orderPage.summaryOrder") }}
          </h2>
          <p class="primaryColor titleFont">
            {{ $t("orderPage.basketOrder") }}
          </p>
        </div>
        <!-- lignes -->
        <div class="container d-flex flex-wrap justify-content-center col">
          <div
            class="container greyBckgrd greenBorder d-flex justify-content-around row p-3 m-3"
            v-for="product in basket"
            :key="product.id"
          >
            <b-img
              :src="`https://picsum.photos/100/100/?image=${product.id}`"
              class="mr-2"
            ></b-img>
            <p class="align-self-center mt-3">
              {{ product.attributes.product_name }}
            </p>
            <p class="align-self-center mt-3">{{ "x" + product.quantity }}</p>
            <p class="align-self-center mt-3">
              {{
                priceProduct(product.attributes.product_price, product.quantity)
              }}
            </p>
          </div>
        </div>
      </div>
      <!-- coupon -->
      <div class="orderBorder d-flex justify-content-center">
        <div
          class="container greyBckgrd greenBorder justify-content-around row p-3 my-4"
        >
          <p class="primaryColor titleFont m-1">
            {{ $t("orderPage.couponOrder") }}
          </p>
          <input name="inputCouponOrder" placeholder="Coupon" v-model="cupon" />
        </div>
      </div>
      <!-- facture -->
      <div class="d-flex justify-content-end my-5">
        <div class="container flex-column">
          <!-- titre -->
          <h2 class="secondaryColor titleFont pb-4">
            {{ $t("orderPage.billOrder") }}
          </h2>
          <!-- contenu -->
          <div class="mx-3">
            <div class="row">
              <p>{{ $t("orderPage.subtototalOrder") }}</p>
              <p class="ml-auto">{{ price }}</p>
            </div>
            <div class="row">
              <p>{{ $t("orderPage.discountOrder") }}</p>
              <p class="ml-auto">{{ priceReduction }}</p>
            </div>

            <!-- frais de port -->
            <div class="row pb-2">
              <p>{{ $t("orderPage.feesOrder") }}</p>
              <p class="ml-auto">{{ numberToDevise(priceDelivery) }}</p>
            </div>

            <div class="row">
              <h2 class="primaryColor">Total :</h2>
              <h2 class="ml-auto">{{ priceTotal }}</h2>
            </div>
          </div>
          <div class="button mt-3" @click="paye">
            <p>{{ $t("orderPage.payOrder") }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { numberToDevise } from "~/utils/devise.js";
export default {
  middleware: ["auth", "basketIsNotEmpty"],
  data() {
    return {
      cupon: "",
      reduction: 0,
      delivery: "standard",
    };
  },
  methods: {
    paye() {
      if (window.confirm(this.$i18n.t("detailProduitPage.securePayment"))) {
        this.$store.dispatch("clearAllBasketProduct");
        this.$router.push(`/${this.$i18n.locale}/`);
      }
    },
    priceProduct(price, quantity) {
      return numberToDevise(price * quantity);
    },
    changeInfo1() {
      document.getElementById("edit1").style.display = "contents";
      document.getElementById("noEdit1").style.display = "none";
    },
    validerInfo1() {
      document.getElementById("edit1").style.display = "none";
      document.getElementById("noEdit1").style.display = "contents";
    },
    changeInfo2() {
      document.getElementById("edit2").style.display = "contents";
      document.getElementById("noEdit2").style.display = "none";
    },
    validerInfo2() {
      document.getElementById("edit2").style.display = "none";
      document.getElementById("noEdit2").style.display = "contents";
    },
    numberToDevise(number) {
      return numberToDevise(number);
    },
  },
  computed: {
    ...mapGetters({ basket: "getBasket" }),
    price() {
      return numberToDevise(this.$store.state.basketPrice);
    },
    priceReduction() {
      return numberToDevise(this.reduction * this.$store.state.basketPrice);
    },
    priceTotal() {
      return numberToDevise(
        this.$store.state.basketPrice -
          this.reduction * this.$store.state.basketPrice +
          this.priceDelivery
      );
    },
    priceDelivery() {
      if (this.delivery === "standard") {
        return 5;
      } else {
        return 15;
      }
    },
  },
  watch: {
    cupon(val) {
      if (val === "A035asX5") {
        this.reduction = 0.2;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.nochange {
  display: contents;
}

.change {
  display: none;
}

.titleFont {
  font-family: "LibreBaskerville-regular";
}

.button {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  text-align: center;
  p {
    margin: 9px 13px;
  }
}

.imageOrder {
  width: 10vh;
}

.greyBckgrd {
  background-color: var(--grey1-color);
}

.primaryColor {
  color: var(--primary);
}

.secondaryColor {
  color: var(--secondary);
}

.whiteBckgrd {
  background-color: var(--white-color);
}

.greenBorder {
  border: 1px solid var(--primary);
}

.orderBorder {
  border-bottom: 1px solid var(--border-color);
}
</style>
