<template>
  <div class="formRegisterBackground">
    <div class="d-flex flex-column flex-grow-1 container form">
      <div class="sm:w-11/12 md:w-4/5 mx-auto">
        <h1 class="m-5 font-bold text-lg">{{ $t("registerPage.title") }}</h1>
      </div>
      <Register />
    </div>
  </div>
</template>
<style lang="scss" scoped>
.formRegisterBackground {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}
h1{
  font-family: LibreBaskerville-regular, serif;
}
</style>
