<template>
  <div class="d-flex flex-wrap justify-content-center pb-5 subscriptionPage">
    <h1 class="my-5 text-center">{{ $t("subscriptionPage.title") }}</h1>
    <div class="col-12">
      <Subscription
        v-for="subscription in subscriptions"
        :key="subscription.id"
        :subscription="subscription"
        class="container"
      />
    </div>
    <div class="my-5">
      <ButtonLink path="" text="subscriptionPage.subscriptionButton" />
    </div>

  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Subscription from "~/components/Subscription";
import ButtonLink from "~/components/buttonLink";
export default {
  name: "subscriptionPage",
  components: {ButtonLink, Subscription},
  computed: {
    ...mapGetters({ subscriptions: "getSubscriptions" }),
  },
  mounted() {
    this.$store.dispatch("fectSubscriptions");
  },
};
</script>
<style lang="scss" scoped>
  .subscriptionPage{
    background-color: #f5f5f5;
  }
</style>
