<template>
  <div class="d-flex flex-column flex-grow-1 accountUser">
    <div class="sm:w-11/12 md:w-4/5 d-flex flex-column align-items-center mb-5">
      <h1 class="my-5 font-bold text-lg">{{ $t("accountPage.title") }}</h1>
      <div class="container mb-5">
        <div class="personalInfo col-12 my-5 pt-5">
          <h3 class="titlePersonalInfoSection mb-3">
            {{ $t("accountPage.titlePersonalInfo") }}
          </h3>
          <p>username : {{ loggedInUser.username }}</p>
          <p>email : {{ loggedInUser.email }}</p>
          <div class="row container col-12">
            <div class="d-flex justify-content-left mt-3 mb-5 col-6">
              <b-button class="btnLogin" variant="outline-secondary">
                {{ $t("accountPage.buttonUpdateInformation") }}
              </b-button>
            </div>
            <div class="d-flex justify-content-end mt-3 mb-5 col-6">
              <b-button class="btnLogin" variant="outline-danger">
                {{ $t("accountPage.buttonDeleteAccount") }}
              </b-button>
            </div>
          </div>
        </div>
        <div class="personalInfo col-12 my-5 py-5">
          <h3 class="titlePersonalInfoSection mb-3">
            {{ $t("accountPage.titleOrders") }}
          </h3>
          <!--          {{ loggedInUser.orders }}-->
          <b-table-simple responsive>
            <b-thead>
              <b-tr>
                <b-th>{{ $t("accountPage.labelTableIdOrder") }}</b-th>
                <b-th>{{ $t("accountPage.labelTableDateOrder") }}</b-th>
                <b-th>{{ $t("accountPage.labelTableAmountOrder") }}</b-th>
                <b-th></b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr v-for="order of loggedInUser.orders" :key="order.id">
                <b-td>{{ order.id }}</b-td>
                <b-td>{{ order.order_date }}</b-td>
                <b-td>{{ orderTotal(order) }}</b-td>
                <b-td>{{ $t("accountPage.colDetail") }}</b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </div>
        <div class="personalInfo col-12 my-5 py-5">
          <h3 class="titlePersonalInfoSection mb-3">
            {{ $t("accountPage.titleInvoice") }}
          </h3>
          <b-table-simple responsive>
            <b-thead>
              <b-tr>
                <b-th>{{$t("accountPage.labelTableIdInvoice")}}</b-th>
                <b-th>{{$t("accountPage.labelTableIdOrderInvoice")}}</b-th>
                <b-th>{{$t("accountPage.labelTableDateInvoice")}}</b-th>
                <b-th>{{$t("accountPage.labelTableAmountInvoice")}}</b-th>
                <b-th></b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr v-for="order of loggedInUser.orders" v-if="order.invoice" :key="order.id">
                <b-td>{{ order.invoice.id }}</b-td>
                <b-td>{{ order.id }}</b-td>
                <b-td>{{ order.order_date }}</b-td>
                <b-td>{{ orderTotal(order) }}</b-td>
                <b-td>{{$t("accountPage.colDownload")}}</b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </div>
        <div class="personalInfo col-12 my-5 py-5">
          <h3 class="titlePersonalInfoSection mb-3">
            {{ $t("accountPage.titleSubscription") }}
          </h3>
          <b-table-simple responsive>
            <b-thead>
              <b-tr>
                <b-th>{{$t("accountPage.labelTableIdSubscription")}}</b-th>
                <b-th>{{ $t("accountPage.labelTableAmountSubscription") }}</b-th>
                <b-th></b-th>
                <b-th></b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr>
                <b-td>{{ loggedInUser.subscription.id }}</b-td>
                <b-td>{{
                  numberToDevise(loggedInUser.subscription.subscription_price)
                }}</b-td>
                <b-td><a>{{ $t("accountPage.colDetailSubscription") }}</a></b-td>
                <b-td class="text-danger"><a>{{ $t("accountPage.colCancelSubscription") }}</a></b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
          <div class="d-flex justify-content-center my-3 col-12">
            <nuxt-link :to="localePath('/subscription')" class="m-3"><b-button class="btnLogin" variant="outline-secondary">
              {{ $t("accountPage.buttonListSubscription") }}
            </b-button></nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { numberToDevise } from "~/utils/devise.js";
export default {
  middleware: "auth",
  methods: {
    async logout() {
      await this.$auth.logout();
      this.$router.push(`/${this.$i18n.locale}/`);
    },
    orderTotal(order) {
      let total = 0;
      order.product_orders.forEach((element) => {
        total += element.product_order_quantity * element.product.product_price;
      });
      return numberToDevise(total);
    },
    numberToDevise(number) {
      return numberToDevise(number);
    },
  },
  computed: {
    ...mapGetters({
      isAuthenticated: "isAuthenticated",
      loggedInUser: "loggedInUser",
    }),
  },
};
</script>
<style lang="scss" scoped>
.accountUser {
  background-color: #f5f5f5;

  .personalInfo {
    background-color: white;
    border: 1px solid var(--grey2-color);
    border-radius: 20px;
  }

  .titlePersonalInfoSection {
    color: var(--secondary);
    font-family: LibreBaskerville-regular, serif;
  }
  h1{
    color: var(--primary);
    font-family: LibreBaskerville-regular, serif;
  }
}
</style>
