@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(~assets/font/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "LibreBaskerville-regular";
  src: local("LibreBaskerville"),
    url(~assets/font/LibreBaskerville-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "LibreBaskerville-bold";
  src: local("LibreBaskerville"),
    url(~assets/font/LibreBaskerville-Bold.ttf) format("truetype");
}
* {
  font-family: "Roboto", sans-serif;
  user-select: none;
}
html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
}
#__layout {
  display: flex;
}
.header-sidebar {
  min-height: 80px;
  border-bottom: solid 2px var(--border-color);
  background-color: var(--grey1-color);
}
