:root {
  --grey1-color: #f5f5f5;
  --grey2-color: #e9e8e8;
  --white-color: #ffffff;
  --black-color: #252526;
  --border-color: #e1dede;
}

$theme-colors: (
  "primary": #428000,
  "secondary": #87cc3d,
  "dark": #252526 // 'success': #1ce1ac,
  // 'info': #ff7d50,
  // 'warning': #ffbe0b,
  // 'danger': #ff007f,
  // 'light': #c0ccda,
  // 'dark': #001738,,,,,,,,,,,,,,,,,
);

@import "~/node_modules/bootstrap/scss/bootstrap.scss";
