<template>
  <div class="d-flex flex-grow-1 row">
    <!-- Images -->
    <div class="container d-flex flex-wrap justify-content-center col-md-5">
      <img
        class="imageDetailProduct pt-5"
        src="../../assets/img/caramel2.jpg"
        alt=""
      />
      <div class="galerieDetailProduct pb-5">
        <img
          class="imageGalerieDetailProduct"
          src="../../assets/img/caramel2.jpg"
          alt=""
        />
        <img
          class="imageGalerieDetailProduct"
          src="../../assets/img/caramel2.jpg"
          alt=""
        />
        <img
          class="imageGalerieDetailProduct"
          src="../../assets/img/caramel2.jpg"
          alt=""
        />
      </div>
    </div>
    <!-- Textes -->
    <div class="container d-flex flex-wrap m-5 col-md-5 detailAnnonce">
      <div class="info">
        <h1>{{ product.attributes.product_name }}</h1>
        <h2>{{ product.attributes.product_price + " €" }}</h2>
      </div>
      <div class="info">
        <h3>{{ $t("detailProduitPage.informations") }}</h3>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia, looked up one of the more obscure
          Latin words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature, discovered the
          undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
          1.10.33 of 'de Finibus Bonorum et Malorum' (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. This book is a treatise on the
          theory of ethics, very popular during the Renaissance. The first line
          of Lorem Ipsum, 'Lorem ipsum dolor sit amet..', comes from a line in
          section 1.10.32.
        </p>
        <ButtonLink path="ingredients" text="detailProduitPage.knowMore" />
      </div>
      <div class="info">
        <h3>{{ $t("detailProduitPage.delivery") }}</h3>
        <p>{{ $t("detailProduitPage.freeDelivery") }}</p>
        <p>00/00</p>
        <p>{{ $t("detailProduitPage.fastestDelivery") }}</p>
        <p>00/00</p>
      </div>
      <div class="info">
        <h3>{{ $t("detailProduitPage.securePayment") }}</h3>
        <p>{{ $t("detailProduitPage.payementText") }}</p>
        <ButtonLink
          @click="add(product)"
          text="detailProduitPage.addCart"
          :redirect="false"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: `product`,
  computed: {
    ...mapGetters({ product: "getCurrentProduct" }),
  },
  created() {
    this.$store.dispatch(
      "setCurrentProductById",
      parseInt(this.$route.params.shop)
    );
    if (!this.product) {
      this.$router.push(`/${this.$i18n.locale}/`);
    }
  },
  methods: {
    add(product) {
      const add = {
        ...product,
        quantity: 1,
      };
      this.$store.dispatch("addToBasket", add);
    },
  },
};
</script>

<style lang="scss" scoped>
.detailAnnonce {
  background: var(--white-color);
}

.info {
  margin-top: 4%;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.imageDetailProduct {
  width: 100%;
}

.imageGalerieDetailProduct {
  width: 50%;
  flex: none;
  margin-right: 5%;
}

.galerieDetailProduct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 5%;
}

.button {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  text-align: center;
  p {
    margin: 9px 13px;
  }
}
</style>
