<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="sm:w-11/12 md:w-4/5 mx-auto">
      <h1 class="m-5 font-bold text-lg">{{ $t("products.title") }}</h1>
    </div>
    <div class="d-flex flex-wrap justify-content-center mx-2">
      <Cards v-for="product in products" :key="product.id" :product="product" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "shopPage",
  computed: {
    ...mapGetters({ products: "getProducts" }),
  },
  mounted() {
    this.$store.dispatch("fectProducts");
  },
};
</script>
